# build outputs & local front build
front/dist
front/build
public/front

# node modules
front/node_modules

# symfony / local env / cache / vendor
.env.local
.env.local.php
.env.*.local
config/secrets/prod/prod.decrypt.private.php
public/bundles
var
vendor

# phpunit
phpunit.xml
**/.phpunit.result.cache

# symfony asset-mapper
public/assets
assets/vendor

# jwt keys
config/jwt/*.pem

# editor / OS files
.vscode
**/.DS_Store
**/Thumbs.db

# docker
.docker
docker-compose.override.yml

# logs
**/*.log
front/npm-debug.log*
front/arn-debug.log*
front/yarn-error.log*
