
/public/front/

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
/node_modules/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

# Docker
/.docker/
/docker-compose.override.yml

# VSCode
/.vscode/

# Mac
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Logs et caches divers
*.log

# Node modules
/front/node_modules/

# Build output
/front/dist/
/front/build/

# Logs
/front/npm-debug.log*
/front/arn-debug.log*
/front/yarn-error.log*
