RewriteEngine On
RewriteBase /character-vitae/public/front/
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /character-vitae/public/front/index.html [L]
