parameters:
    level: max
    paths:
        - src
        - tests
    ignoreErrors:
      - '#Property App\\Entity\\Character::\$id \(int\|null\)#'
      - '#Property App\\Entity\\User::\$id \(int\|null\)#'
    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false
