body {
  font-family: 'Cinzel', serif;
  background-color: #f5ecd1;
  background-size: cover;
}

.preview-card {
  background: url('../assets/parchment.jpg') center/cover no-repeat;
  border-top: 30px solid transparent;
  border-image: url('../assets/section-top.png') 30 round;
  border-bottom: 30px solid transparent;
  padding: 1rem;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
  animation: rollOut 0.5s ease-out forwards;
}

.card-body {
  animation: unroll 0.5s ease-out;
}

button,
.btn {
  font-family: 'IM Fell English SC', serif;
}

/* Animation d’un rouleau de parchemin */
@keyframes unroll {
  from {
    height: 0;
    opacity: 0;
  }

  to {
    height: auto;
    opacity: 1;
  }
}

h2,
h3,
.preview-card {
  font-family: 'IM Fell English SC', serif;
}

@keyframes rollOut {
  from {
    transform: translateY(-20px) scaleY(0.8);
    opacity: 0;
  }

  to {
    transform: translateY(0) scaleY(1);
    opacity: 1;
  }
}
